#root {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}


header {
  border: solid 2px;
  border-color: rgb(255, 0, 0);
  display:flexbox
}


.landing-page {
  border: solid 2px;
  border-color: rgb(0, 0, 0);
}

.article_full {
  border: solid 1px;
  border-color: rgb(17, 0, 255);
  margin: 20px;

  transition: all 0.3s ease
}

.article_preview {
  border: solid 1px;
  border-color: rgb(17, 0, 255);
  margin: 20px;
  cursor: pointer;

}

.article_preview:hover {
  border-color: rgb(0, 187, 255);
  transform: scale(1.01);
}

.topics{
  margin: 0px;
  padding: 5px;
  text-align: left;
}

.articleTitle {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  display: block;
  font-size: 2em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.articleTitlePreview {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  display: block;
  font-size: 1em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.articleTitletopic {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  display: block;
    font-size: .8em;
    font-weight: normal;
    unicode-bidi: isolate;
}

.articleVotes {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  display: block;
    font-size: .8em;
    font-weight: normal;
    unicode-bidi: isolate;
}

.articleTitleDate {
  margin: 0px;
  padding: 0px;
  text-align: right;
  background-color: rgb(255, 255, 255);
  display: block;
    font-size: .7em;
    font-weight: normal;
    unicode-bidi: isolate;
}

.articleImage {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: auto;
}



.articlesContainerPreview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  background-color: rgb(214, 214, 214);
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
}

.comment {
margin-bottom: 20px;
  padding: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);

  font-size: 1em;
  font-weight: normal;

}

.commentUser {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);

  font-size: 1em;
  font-weight: bold;

}



.commentsHeader {
  margin-top: 20px;
margin-left: 20px;
  padding: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);

  font-size: 1em;
  font-weight: bold;

}


.headerProfileImg{
  border: solid rgb(82, 82, 82);
  border-radius: 50%;
  width:100px;
  height:100px;
}

.headerLogo{
  width:auto;
  height:75px;
  margin-top: 25px;
}

.navText{
  all: "unset";
  color: "blue";
  cursor: "pointer";
  display: inline-block;

}


.topicCardContainer{
  border: solid black;
}



.topic_preview{
  border: solid 1px;
  border-color: rgb(17, 0, 255);
  margin: 20px;
  cursor: pointer;
  width: 300px;
}

.topic_preview:hover {
  border-color: rgb(0, 187, 255);
  transform: scale(1.01);
}

.topicCardTitle{
  font-size:40px;
  font-weight: bold;
  align-items:flex-start;
}

.topic_ArticlePreview {
  border: solid 1px;
  border-color: rgb(17, 0, 255);
  margin: 20px;
}